{% extends "base.html" %}

{% block title %}
首页
{% end %}

{% block ftco-section %}
    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Articles</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
          </div>
        </div>
    		<div class="row">
                {% for p in posts %}
    			<div class="col-md-4">
    				<div class="blog-entry ftco-animate">
							<a href="/post/{{ p.id }}" class="img img-2" style="background-image: url({{ static_url(p.thumbnail_url) }});"></a>
							<div class="text text-2 pt-2 mt-3">
								<span class="category mb-3 d-block"><a href="#">{{ p.posttype.name }}</a></span>
	              <h3 class="mb-4"><a href="#">{{ p.title }}</a></h3>
	              <p class="mb-4">{{ p.content[0:50] }}</p>
	              <div class="author mb-4 d-flex align-items-center">
	            		<a href="#" class="img" style="background-image: url({{ static_url("images/person_2.jpg") }});"></a>
	            		<div class="ml-3 info">
	            			<span>作者</span>
	            			<h3><a href="#">{{ p.user.username }}</a>, <span>{{ p.update_time }}</span></h3>
	            		</div>
	            	</div>
	              <div class="meta-wrap align-items-center">
	              	<div class="half order-md-last">
		              	<p class="meta">
		              		<span><i class="icon-heart"></i>3</span>
		              		<span><i class="icon-eye"></i>100</span>
		              		<span><i class="icon-comment"></i>5</span>
		              	</p>
	              	</div>
	              	<div class="half">
		              	<p><a href="/post/{{ p.id }}" class="btn py-2">继续阅读<span class="ion-ios-arrow-forward"></span></a></p>
	              	</div>
	              </div>
	            </div>
						</div>
    			</div>
                {% end %}
    		</div>
    	</div>
    </section>
{% end %}

